.ImageSize {
    height: 450px;
    width: 325px;
    position: center;
    resize: both inherit;
}
.WhiteBorder {
    border-width: 8px;
    border-color: ghostwhite;
    border-style: solid;
}
#BookImage {
    height: 450px;
    width: 300px;
    overflow: hidden;
    text-align: center;
}
div.center {
    margin: 0 auto;
    width: 80em;
}
#left {
    float: left;
    width: 33%;
}
#right {
    float: right;
    width: 33%;
}